
<!-- The parent -->
<div class="parent position-relative">
  <div> <!-- The first child -->
    <h1 class="path-name-container text-left pl-5">CHOOSE <br> YOUR <br> PATH</h1>
  </div>
  <!-- The second child -->
  <div class="parent-div-2">
    <!-- The small cards -->
    <% @paths.each do |path| %>
      <% if path.name == "Full Stack Developer" %>
         <% id = 'full_stack_developer' %>
         <% path_name = 'Full Stack Developer' %>
         <% description = 'As a jack of all trades (and master of quite a few), a full-stack engineer can get a project done from start to finish. In this Path, you’ll begin with the front-end, move on to the back-end, then learn to connect the two. By the time you’re done, you’ll have the well-rounded skills needed to enter this in-demand job market.' %>
         <% requirement = 'intermediate' %>
         <% language = 'ruby javascript html css rails' %>
         <% duration_hours = path.duration_hours %>
         <% duration_minutes = path.duration_minutes %>
         <% steps = path.steps %>
      <% elsif path.name == "Data Analyst" %>
        <% id = 'data_analyst' %>
        <% path_name = 'Data Analyst'  %>
        <% description = 'Companies are looking for data analysts to drive informative decision making, and this Path will teach you the skills you need to become just that. You’ll learn how to use Python and SQL to acquire, clean, and analyze data, plus communicate your findings. Along the way, you’ll build portfolio-worthy projects that will help you get job-ready.' %>
        <% requirement = 'advanced' %>
        <% language = 'python' %>
        <% steps = path.steps %>
        <% duration_hours = path.duration_hours %>
        <% duration_minutes = path.duration_minutes %>
      <% elsif path.name == "Frontend Developer" %>
        <% id = 'ml_developer' %>
        <% path_name = 'Frontend Developer'  %>
        <% description = 'Frontend development is more popular than ever during times of booming eCommerce. Determining the structure and design of web pages, you need to find a balance between functional and aesthetic design.' %>
        <% requirement = 'beginner' %>
        <% language = 'javascript html css' %>
        <% steps = path.steps %>
        <% duration_hours = path.duration_hours %>
        <% duration_minutes = path.duration_minutes %>
      <%  else %>
        <% id = 'ios-developer' %>
        <% path_name = 'iOS Developer'  %>
        <% description = 'Swift is a powerful programming language that is easy and also fun to learn. Its code is safe by design, yet also produces software that runs lightning-fast. It is used to build apps for iOS, watchOS, macOS, tvOS, and Linux. This Path will start with the fundamental programming concepts before digging deeper into the more advanced Swift topics.' %>
        <% requirement = 'advanced' %>
        <% language = 'swift' %>
        <% steps = path.steps %>
        <% duration_hours = path.duration_hours %>
        <% duration_minutes = path.duration_minutes %>
      <% end %>

<!-- The modal -->

<div class="modal custom fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><% path_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/big_card', id: id, path_name: path_name, description: description, requirement: requirement, language: language, duration_hours: path.duration_hours, duration_minutes: path.duration_minutes, steps: path.steps %>
      </div>
   <div class="modal-footer d-flex" style="align-items: center;">
  <% if path_name == "Full Stack Developer" %>
    <div class="big-modal-button-wrapper">
      <%= button_to "SHOW", path_step_progresses_path(Path.find_by_name("Full Stack Developer")), class: "btn-card-big-primary-1" %>
      <form method="post" action="step_progresses/create"></form>
    </div>
  <% elsif path_name == "Frontend Developer" %>
    <div class="big-modal-button-wrapper">
      <%= button_to "SHOW", path_step_progresses_path(Path.find_by_name("Frontend Developer")), class: "btn-card-big-primary-1" %>
      <form method="post" action="step_progresses/create"></form>
    </div>
  <% elsif path_name == "Data Analyst" %>
    <div class="big-modal-button-wrapper">
      <%= button_to "SHOW", path_step_progresses_path(Path.find_by_name("Data Analyst")), class: "btn-card-big-primary-1" %>
      <form method="post" action="step_progresses/create"></form>
    </div>
  <% else %>
    <div class="big-modal-button-wrapper">
      <%= button_to "SHOW", path_step_progresses_path(Path.find_by_name("iOS Developer")), class: "btn-card-big-primary-1" %>
      <form method="post" action="step_progresses/create"></form>
    </div>
  <% end %>
    </div>
      </div>
    </div>
  </div>

            <!-- the outer div for the small card which works as a button to call the modal -->
      <div type="button" class="btn" data-toggle="modal" data-target="#<%= id %>">
        <!-- The actual small cards -->
        <div class="p_card_sm card_sm" id="<%= id %>" style="background-color: #003366; padding-bottom: 100px;">
          <div class="p_card_sm d-flex flex-column text-left">
            <% if path.name == "Frontend Developer" %>
              <div class="div-to-do pl-3 text-center" id="ml-developer">
                <p> YOU COMPLETED THIS PATH <span class="iconify" data-inline="false" data-icon="si-glyph:champion-cup" style="font-size: 30px; color: #F3C72A;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 30px; color: rgb(243, 199, 42); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-inline="false" data-icon="si-glyph:champion-cup"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg></span></p>
              </div>
            <% end %>
            <div style="margin-left: 20px; margin-top: 15px; ">
              <p>I want to become a</p>
            </div>
            <div style="margin-left: 20px; margin-top: -8px; font-size: 27px; ">
              <h6><%= path.name %></h6>
            </div>
            <div class="d-flex flex-grow-1 text-center pb-3" style="align-items: center; justify-content: center;">
              <% if path.name == "Full Stack Developer" %>
                <%= cl_image_tag("Index/FULL_STACK_DEVELOPER_pmau6g.svg")%>
              <% elsif path.name == "Frontend Developer" %>
                <%= cl_image_tag("Index/ML_developer_gidze2.svg")%>
              <% elsif path.name == "Data Analyst" %>
                <%= cl_image_tag("Index/DATA_ANALYST_ieyk54.svg")%>
              <% else %>
                <%= cl_image_tag("Index/ANDROID_DEVELOPER_g9nc7l.svg")%>
              <% end %>
            </div>
            <div class="d-flex justify-content-between div-info" style="border-top: 1px solid #003366;">

              <div>
                <% if path.requirement == "beginner" %>
                  <div class="d-flex align-items-center" style="margin-left: 20px; margin-top: 15px;">
                    <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement.upcase %></p>
                  </div>
                <% elsif path.requirement == "intermediate"%>
                  <div class="d-flex align-items-center" style="margin-left: 20px; margin-top: 15px; ">
                    <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="far fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement.upcase %></p>
                  </div>
                <% else %>
                  <div class="d-flex align-items-center" style="align-self: flex-end; width: 100%; margin-left: 20px; margin-top: 15px;">
                    <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement.upcase %></p>
                  </div>
                <% end %>
              </div>
              <div>
                <p class="btn-card-sm text-center"> <%=path.duration_hours%> h <%=path.duration_minutes%> min </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- The end of small card -->
<!-- The third child -->
<div class="parent-div-3 position-absolute" style="right: 0;">
    <div> <h1 class="girl-assistant-words"> <strong> HELLO <%= current_user.name.upcase %>! WHO DO YOU WANT TO BECOME? </strong></h1> </div>
    <%= cl_image_tag("Home/Group_99_2_iawft8.svg")%>
</div>
<!-- End of grid -->
