
<!-- The parent -->
<div class="parent position-relative">
  <div> <!-- The first child -->
    <h1 class="path-name-container text-left pl-5">CHOOSE <br> YOUR <br> PATH</h1>
  </div>
  <!-- The second child -->
  <div class="parent-div-2">
    <!-- The small cards -->
    <% @paths.each do |path| %>
      <% if path.name == "Full Stack Developer" %>
         <% id = 'full_stack_developer' %>
         <% path_name = 'Full Stack Developer' %>
         <% description = 'As a jack of all trades (and master of quite a few), a full-stack engineer can get a project done from start to finish. In this Path, you’ll begin with the front-end, move on to the back-end, then learn to connect the two. By the time you’re done, you’ll have the well-rounded skills needed to enter this in-demand job market.' %>
         <% requirement = 'intermediate' %>
         <% language = 'ruby javascript html css rails' %>
         <% duration_hours = path.duration_hours %>
         <% duration_minutes = path.duration_minutes %>
         <% steps = path.steps %>
      <% elsif path.name == "Data Analyst" %>
        <% id = 'data_analyst' %>
        <% path_name = 'Data Analyst'  %>
        <% description = 'Companies are looking for data analysts to drive informative decision making, and this Path will teach you the skills you need to become just that. You’ll learn how to use Python and SQL to acquire, clean, and analyze data, plus communicate your findings. Along the way, you’ll build portfolio-worthy projects that will help you get job-ready.' %>
        <% requirement = 'advanced' %>
        <% language = 'python' %>
        <% steps = path.steps %>
        <% duration_hours = path.duration_hours %>
        <% duration_minutes = path.duration_minutes %>
      <% elsif path.name == "Frontend Developer" %>
        <% id = 'ml_developer' %>
        <% path_name = 'Frontend Developer'  %>
        <% description = 'Machine Learning is an increasingly hot field of data science dedicated to enabling computers to learn from data. From spam filtering in social networks to computer vision for self-driving cars, the potential applications of Machine Learning are vast.' %>
        <% requirement = 'beginner' %>
        <% language = 'python' %>
        <% steps = path.steps %>
        <% duration_hours = path.duration_hours %>
        <% duration_minutes = path.duration_minutes %>
      <%  else %>
        <% id = 'ios-developer' %>
        <% path_name = 'iOS Developer'  %>
        <% description = 'Swift is a powerful programming language that is easy and also fun to learn. Its code is safe by design, yet also produces software that runs lightning-fast. It is used to build apps for iOS, watchOS, macOS, tvOS, and Linux. This Path will start with the fundamental programming concepts before digging deeper into the more advanced Swift topics.' %>
        <% requirement = 'advanced' %>
        <% language = 'swift' %>
        <% steps = path.steps %>
        <% duration_hours = path.duration_hours %>
        <% duration_minutes = path.duration_minutes %>
      <% end %>

<!-- The modal -->

<div class="modal custom fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><% path_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/big_card', id: id, path_name: path_name, description: description, requirement: requirement, language: language, duration_hours: path.duration_hours, duration_minutes: path.duration_minutes, steps: path.steps %>
      </div>
       <div class="modal-footer d-flex" style="align-items: center;">
        <% if path_name == "Full Stack Developer" %>
          <%= button_to "START", path_step_progresses_path(Path.find_by_name("Full Stack Developer")), class: "btn-card-big-primary" %>
            <form method="post" action="step_progresses/create"></form>
        <% elsif path_name == "Frontend Developer" %>
          <%= button_to "START", path_step_progresses_path(Path.find_by_name("Frontend Developer")), class: "btn-card-big-primary" %>
            <form method="post" action="step_progresses/create"></form>
        <% elsif path_name == "Data Analyst" %>
          <%= button_to "START", path_step_progresses_path(Path.find_by_name("Data Analyst")), class: "btn-card-big-primary" %>
            <form method="post" action="step_progresses/create"></form>
        <% else %>
          <%= button_to "START", path_step_progresses_path(Path.find_by_name("iOS Developer")), class: "btn-card-big-primary" %>
            <form method="post" action="step_progresses/create"></form>
        <% end %>
       </div>
      </div>
    </div>
  </div>

            <!-- the outer div for the small card which works as a button to call the modal -->
      <div type="button" class="btn" data-toggle="modal" data-target="#<%= id %>">
        <!-- The actual small cards -->
        <div class="p_card_sm card_sm" id="<%= id %>" style="background-color: #003366; padding-bottom: 100px;">
          <div class="p_card_sm d-flex flex-column text-left">
            <div style="margin-left: 20px; margin-top: 15px; ">
              <p>I want to become a</p>
            </div>
            <div style="margin-left: 20px; margin-top: -8px; font-size: 27px; ">
              <h6><%= path.name %></h6>
            </div>
            <div class="d-flex flex-grow-1 text-center pb-3" style="align-items: flex-end; justify-content: center;">
              <% if path.name == "Full Stack Developer" %>
                <%= cl_image_tag("Index/FULL_STACK_DEVELOPER_pmau6g.svg")%>
              <% elsif path.name == "Frontend Developer" %>
                <%= cl_image_tag("Index/ML_developer_gidze2.svg")%>
              <% elsif path.name == "Data Analyst" %>
                <%= cl_image_tag("Index/DATA_ANALYST_ieyk54.svg")%>
              <% else %>
                <%= cl_image_tag("Index/ANDROID_DEVELOPER_g9nc7l.svg")%>
              <% end %>
            </div>
            <div class="d-flex justify-content-between div-info" style="border-top: 1px solid #003366;">
              <div>
                <% if path.requirement == "beginner" %>
                  <div class="d-flex align-items-center" style="margin-left: 20px; margin-top: 15px;">
                    <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement.upcase %></p>
                  </div>
                <% elsif path.requirement == "intermediate"%>
                  <div class="d-flex align-items-center" style="margin-left: 20px; margin-top: 15px; ">
                    <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="far fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement.upcase %></p>
                  </div>
                <% else %>
                  <div class="d-flex align-items-center" style="align-self: flex-end; width: 100%; margin-left: 20px; margin-top: 15px;">
                    <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement.upcase %></p>
                  </div>
                <% end %>
              </div>
              <div>
                <p class="btn-card-sm text-center"> <%=path.duration_hours%> h <%=path.duration_minutes%> min </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
  <!-- The end of small card -->
<!-- The third child -->
<div class="parent-div-3 position-absolute" style="right: 0;">
    <div> <h1 class="girl-assistant-words"> <strong> HELLO! WHO YOU WANT TO BECOME? </strong></h1> </div>
    <%= cl_image_tag("Home/Group_99_2_iawft8.svg")%>
</div>
<!-- End of grid -->






