<div class="path-show-page-container">
  <div class="path-progress-bar-container">
    <%= render 'shared/progress_bar',
      locals: {
      duration: @path_progress
    } %>
  </div>

  <div class="path-show-page-content-container">
    <div class="path-name-container">
      <h1><%= @path.name %></h1>
    </div>

   <div class="path-show-page-middle-container">
       <div class="steps-container">
          <% @steps.each do |step| %>
            <%= render 'shared/step_card',

            locals: {
              step: step,
              completed: @step_data[step.id][:completion],
              duration: @step_data[step.id][:duration],
              step_progress_id: @step_data[step.id][:step_progress_id],
              step_title: @step_data[step.id][:title]
            } %>
          <% end %>
       </div>
    </div>

    <div class="container-right">
      <div>
      <%= render 'shared/learning_group_box',
      locals: {
        first_step_completed: @step_data[@steps.first.id][:completion]
      } %>
     </div>
     <div id="path_show_chatroom" class="chatroom-container invisible">
       <h5>#<%= @chatroom.name %></h5>
         <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
            <% end %>
          </div>

        <%= simple_form_for [ @path, @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.submit "send message" %>
        <% end %>
     </div>
    </div>
  </div>
</div>
