<div class="container-fluid">
  <div class="row mt-70">
    <div class="col-1"></div>
    <div class="col-3">
      <%= link_to edit_user_registration_path(@user), class: 'edit-avatar-link' do  %>
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, alt: "user avatar", class: "avatar-profile" %>
        <% else %>
          <%= image_tag "http://res.cloudinary.com/dqopwdgta/image/upload/c_scale,h_65,w_65/v1/Home/profile-avatar_gdki3u.png", class: "avatar-profile" %>
        <% end %>
      <% end %>
      <h1 class="mt-30"><%= @user.name %></h1>
      <p class="mt-30"><%= @user.created_at.strftime("Joined on %d/%m/%Y")%> </p>
      <%# link_to "Add external profiles", edit_profile_path, :class => "btn-edit-profile" %>
    </div>
    <div class="col-7" style="margin-bottom: 32px;">
      <h2 style="margin-bottom: 20px;">YOUR PATHS</h2>
      <!-- Note to self by KH: If I was able to do @user.paths.each I would
      probably insert a grid here, that fills according to the number
      of paths, also adding new rows as a row fills. -->

<!-- THE NAMES OF THE COURSES AND THE DECISION WHICH ONE IS COMPLETED AND WHICH
ONE IS NOT (AND WHAT THE PERCENTAGE IS OF THE ONE THAT IS NOT) WILL DEPEND ON
KSENIIA'S DECISIONS IN THE SEEDS. IT WILL BE EASY TO ADAPT THAT, SO THE DESIGN
OF THE CARDS CAN HAPPEN BEFORE THAT DECISION. -->

<!-- These are divs for user's paths achievements -->

      <div class="d-flex justify-content-flex-start">
        <div class="w-third mr-60 profile-card-top">
          <div class="profile-card-content">
            <h6>Frontend Developer Path</h6>
            <!-- <span class="iconify profile-cup completed-yellow" data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 100px;"></span> -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 100px; transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify profile-cup completed-yellow" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
            <p style="padding-top: 20px; padding-bottom: 30px;"><i class="fas fa-check-circle step-card-completed-icon"></i> Completed</p>
          </div>
            <div class="profile-card-see-btn pt-1">
              <h6 style="color: #F3C72A;">Restart</h6>
            </div>
        </div>

        <div class="w-third mr-60 profile-card-top">
          <div class="profile-card-content">
<!-- THE CUP BECOMES YELLOW BY ADDING THE completed-yellow CLASS TO IT -->
            <h6>Full Stack Developer Path</h6>
            <div class="profile-trophy-percentage">
            <!-- <span class="iconify profile-cup" data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 100px;"></span> -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 100px; transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify profile-cup" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
            <h5>45%</h5>
            </div>
            <!-- <p><i class="fas fa-check-circle step-card-completed-icon ml-32"></i> Completed</p> -->
            <p style="padding-top: 20px; padding-bottom: 30px;"><i class="fas fa-circle step-card-todo-icon"></i> TO DO</p>
          </div>
          <div class="profile-card-see-btn text-center pt-1">
            <h6 style="color: #FE0760;">Keep working</h6>
          </div>
        </div>
      </div>

<!-- These are divs for user's external profiles -->

      <h2 style="margin-top: 36px; margin-bottom: 46px;">YOUR EXTERNAL PROFILES</h2>
      <% if @user.codewars_profile && @user.github_profile %>
        <div class="d-flex justify-content-between">
          <div class="w-47 profile-card" style="background-color: #003366">
            <div class="profile-card">
              <div class="profile-card-content codewars">
                <div class="icon-profile">
                  <span class="iconify" data-inline="false" data-icon="cib:codewars" style="font-size: 60px; color: #FE0760; padding-bottom: 15px;"></span>
                  <h6 style="padding-bottom: 14px; padding-left: -20px;">Codewars Profile</h6>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p> <span class="iconify" data-inline="false" data-icon="si-glyph:champion-cup" style="font-size: 18px; color: #FE0760;"></span> HONORS</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.honor %></p>
                  </div>
                </div>
                <div class="profile-data d-flex">
                  <div class="profile-section">
                    <p><span class="iconify" data-inline="false" data-icon="si-glyph:champion-cup" style="font-size: 18px; color: #FE0760;"></span> OVERALL RANK</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.overall_rank_name %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p> <span class="iconify" data-inline="false" data-icon="si-glyph:champion-cup" style="font-size: 18px; color: #FE0760;"></span> OVERALL SCORE</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.overall_score %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p>CHALLENGES AUTHORED </p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.code_challenges_authored %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p>CHALLENGES COMPLETED </p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.code_challenges_completed %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p><%= @user.codewars_profile.first_language_name.upcase! %> </p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.first_language_rank_name %> [<%= @user.codewars_profile.first_language_score %>]</p>
                  </div>
                </div>
                <% if @user.codewars_profile.second_language_name != 'None chosen' %>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p><%= @user.codewars_profile.second_language_name.upcase! %> </p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.codewars_profile.second_language_rank_name %> [<%= @user.codewars_profile.second_language_score%>]</p>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="w-47 profile-card" style="background-color: #003366">
            <div class="profile-card">
              <div class="profile-card-content profile-card-github">
                <span class="iconify" data-inline="false" data-icon="akar-icons:github-fill" style="font-size: 60px; color: #FE0760; padding-bottom: 15px;"></span>
                <h6 style="padding-bottom: 15px;">GitHub Profile</h6>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p> <span class="iconify" data-inline="false" data-icon="si-glyph:champion-cup" style="font-size: 18px; color: #FE0760;"></span> PUBLIC REPOS</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.github_profile.public_repos %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p> <span class="iconify" data-inline="false" data-icon="si-glyph:champion-cup" style="font-size: 18px; color: #FE0760;"></span> PUBLIC GISTS</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.github_profile.public_gists %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p>  FOLLOWERS</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.github_profile.followers %></p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p> FOLLOWING</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.github_profile.following %> </p>
                  </div>
                </div>
                <div class="profile-data d-flex" style="align-items: center;">
                  <div class="profile-section">
                    <p> JOINED GITHUB</p>
                  </div>
                  <div class="profile-score">
                    <p><%= @user.github_profile.joined_github %>  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% else %>
        <%= link_to "Add external profiles", edit_profile_path, :class => "btn-edit-profile" %>
      <% end %>
    </div>
  </div>
  <div class="col-1"></div>
</div>
