  <!-- Cup - title - description -->
  <% path_name  %>
  <% if path_name == "Full Stack Developer" %>
    <!-- <span class="iconify"  data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #F3C72A;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(243, 199, 42); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The Full Stack Developer Path</h5>
  <% elsif path_name == "Frontend Developer" %>
    <!-- <span class="iconify"  data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #997029;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(153, 112, 41); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The Frontend Developer Path</h5>
  <% elsif path_name == "Data Analyst" %>
    <!-- <span class="iconify"  data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #FE0760;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(254, 7, 96); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The Data Analyst Path</h5>
  <% else %>
    <!-- <span class="iconify" data-icon="si-glyph:champion-cup"  data-inline="false" style="font-size: 150px; color: #6C63FF;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(108, 99, 255); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The iOs Developer Path</h5>
  <% end %>
  <br>
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    WHAT THIS PATH IS ABOUT
  </div>
  <p>
    <br>
    <%= description  %>
    <br> <br>
  </p>

  <!-- Main info -->
  <!-- Level -->
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    LEVEL
  </div>
  <p>
    <% requirement  %>
      <% if requirement == "beginner" %>
        <div class="d-flex align-items-center" style="margin-top: 7px; color: #003366;">
          <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle mr-3"></i>
          <p><%= "Beginner" %></p>
        </div>
      <% elsif requirement == "intermediate"%>
        <div class="d-flex align-items-center" style="margin-top: 7px; color: #003366;">
          <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="far fa-circle mr-3"></i>
          <p><%= "Intermediate" %></p>
        </div>
      <% else %>
        <div class="d-flex align-items-center" style="margin-top: 7px; color: #003366;">
          <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle mr-3"></i>
          <p><%= "Advanced" %></p>
        </div>
      <% end %>
  </p>
  <!-- Duration -->
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    DURATION
  </div>
  <div class="d-flex text-left align-items-center" style="display: flex; padding: 10px">
    <i class="far fa-calendar-check step-duration-symbol" style=" font-size: 20px; color: #003366;"></i>
    <p> <%= duration_hours %> h <%= duration_minutes%> min</p>
  </div>
  <!-- Skills -->
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    SKILLS
  </div>
  <p>
  <% language  %>
    <div class="d-flex" style="margin-top: 3px; ">
      <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
        <% if language == "ruby javascript html css rails" %>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="teenyicons:ruby-outline" style="font-size: 24px; color: #003366;"> </span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15" class="iconify" data-inline="false" data-icon="teenyicons:ruby-outline"><g fill="none"><path d="M14.5 14.5v.5h.5v-.5h-.5zm0-14h.5V0h-.5v.5zm-6 0V0h-.207l-.147.146L8.5.5zm-8 8l-.354-.354L0 8.293V8.5h.5zm0 6H0v.5h.5v-.5zm4-4l-.224.447l.019.01l.02.007l.185-.464zm0-6V4a.5.5 0 0 0-.5.5h.5zm6 0l.464-.186l-.008-.019l-.009-.019l-.447.224zm4.5 10V.5h-1v14h1zM14.5 0h-6v1h6V0zM8.146.146l-8 8l.708.708l8-8l-.708-.708zM0 8.5v6h1v-6H0zM.5 15h14v-1H.5v1zM14.146.146l-14 14l.708.708l14-14l-.708-.708zM5 10.5v-6H4v6h1zM4.5 5h6V4h-6v1zm-.186 5.964l10 4l.372-.928l-10-4l-.372.928zm5.722-6.278l4 10l.928-.372l-4-10l-.928.372zM8.053.724l2 4l.894-.448l-2-4l-.894.448zM.276 8.947l4 2l.448-.894l-4-2l-.448.894z" fill="currentColor"></path></g></svg>
              <p style="font-size: 15px;">Ruby</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="ant-design:html5-filled" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" class="iconify" data-inline="false" data-icon="ant-design:html5-filled"><path d="M145.2 96l66 746.6L512 928l299.6-85.4L878.9 96H145.2zm595 177.1l-4.8 47.2l-1.7 19.5H382.3l8.2 94.2h335.1l-3.3 24.3l-21.2 242.2l-1.7 16.2l-187 51.6v.3h-1.2l-.3.1v-.1h-.1l-188.6-52L310.8 572h91.1l6.5 73.2l102.4 27.7h.4l102-27.6l11.4-118.6H510.9v-.1H306l-22.8-253.5l-1.7-24.3h460.3l-1.6 24.3z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">HTML</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="bx:bxl-javascript" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-inline="false" data-icon="bx:bxl-javascript"><path d="M3 3h18v18H3V3zm16.525 13.707c-.131-.821-.666-1.511-2.252-2.155c-.552-.259-1.165-.438-1.349-.854c-.068-.248-.078-.382-.034-.529c.113-.484.687-.629 1.137-.495c.293.09.563.315.732.676c.775-.507.775-.507 1.316-.844c-.203-.314-.304-.451-.439-.586c-.473-.528-1.103-.798-2.126-.775l-.528.067c-.507.124-.991.395-1.283.754c-.855.968-.608 2.655.427 3.354c1.023.765 2.521.933 2.712 1.653c.18.878-.652 1.159-1.475 1.058c-.607-.136-.945-.439-1.316-1.002l-1.372.788c.157.359.337.517.607.832c1.305 1.316 4.568 1.249 5.153-.754c.021-.067.18-.528.056-1.237l.034.049zm-6.737-5.434h-1.686c0 1.453-.007 2.898-.007 4.354c0 .924.047 1.772-.104 2.033c-.247.517-.886.451-1.175.359c-.297-.146-.448-.349-.623-.641c-.047-.078-.082-.146-.095-.146l-1.368.844c.229.473.563.879.994 1.137c.641.383 1.502.507 2.404.305c.588-.17 1.095-.519 1.358-1.059c.384-.697.302-1.553.299-2.509c.008-1.541 0-3.083 0-4.635l.003-.042z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">Javascript</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="iconify" data-inline="false" data-icon="cib:css3-shiled"><path d="M4 2l2.181 24.738L16 30l9.819-3.262L28 2zm19.569 5l-.3 2.956l-7.225 3.087h6.969l-.8 9.163L16.076 24l-6.175-1.825l-.4-4.619h3.056l.2 2.394l3.287.831l3.419-.962l.231-3.85l-10.406-.031l-.225-2.894l7.413-3.087H8.795l-.363-2.956z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">CSS</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="iconify" data-inline="false" data-icon="cib:css3-shiled"><path d="M4 2l2.181 24.738L16 30l9.819-3.262L28 2zm19.569 5l-.3 2.956l-7.225 3.087h6.969l-.8 9.163L16.076 24l-6.175-1.825l-.4-4.619h3.056l.2 2.394l3.287.831l3.419-.962l.231-3.85l-10.406-.031l-.225-2.894l7.413-3.087H8.795l-.363-2.956z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">Rails</p>
            </div>
          </div>
        <% elsif language == "python"%>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="bx:bxl-python" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-inline="false" data-icon="bx:bxl-python"><path d="M9.585 11.692h4.328s2.432.039 2.432-2.35V5.391S16.714 3 11.936 3C7.362 3 7.647 4.983 7.647 4.983l.006 2.055h4.363v.617H5.92s-2.927-.332-2.927 4.282s2.555 4.45 2.555 4.45h1.524v-2.141s-.083-2.554 2.513-2.554zm-.056-5.74a.784.784 0 1 1 0-1.57a.784.784 0 1 1 0 1.57z" fill="currentColor"></path><path d="M18.452 7.532h-1.524v2.141s.083 2.554-2.513 2.554h-4.328s-2.432-.04-2.432 2.35v3.951s-.369 2.391 4.409 2.391c4.573 0 4.288-1.983 4.288-1.983l-.006-2.054h-4.363v-.617h6.097s2.927.332 2.927-4.282s-2.555-4.451-2.555-4.451zm-3.981 10.436a.784.784 0 1 1 0 1.57a.784.784 0 1 1 0-1.57z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">Python</p>
            </div>
          </div>
        <% elsif language == "javascript html css"%>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="ant-design:html5-filled" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" class="iconify" data-inline="false" data-icon="ant-design:html5-filled"><path d="M145.2 96l66 746.6L512 928l299.6-85.4L878.9 96H145.2zm595 177.1l-4.8 47.2l-1.7 19.5H382.3l8.2 94.2h335.1l-3.3 24.3l-21.2 242.2l-1.7 16.2l-187 51.6v.3h-1.2l-.3.1v-.1h-.1l-188.6-52L310.8 572h91.1l6.5 73.2l102.4 27.7h.4l102-27.6l11.4-118.6H510.9v-.1H306l-22.8-253.5l-1.7-24.3h460.3l-1.6 24.3z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">HTML</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="bx:bxl-javascript" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-inline="false" data-icon="bx:bxl-javascript"><path d="M3 3h18v18H3V3zm16.525 13.707c-.131-.821-.666-1.511-2.252-2.155c-.552-.259-1.165-.438-1.349-.854c-.068-.248-.078-.382-.034-.529c.113-.484.687-.629 1.137-.495c.293.09.563.315.732.676c.775-.507.775-.507 1.316-.844c-.203-.314-.304-.451-.439-.586c-.473-.528-1.103-.798-2.126-.775l-.528.067c-.507.124-.991.395-1.283.754c-.855.968-.608 2.655.427 3.354c1.023.765 2.521.933 2.712 1.653c.18.878-.652 1.159-1.475 1.058c-.607-.136-.945-.439-1.316-1.002l-1.372.788c.157.359.337.517.607.832c1.305 1.316 4.568 1.249 5.153-.754c.021-.067.18-.528.056-1.237l.034.049zm-6.737-5.434h-1.686c0 1.453-.007 2.898-.007 4.354c0 .924.047 1.772-.104 2.033c-.247.517-.886.451-1.175.359c-.297-.146-.448-.349-.623-.641c-.047-.078-.082-.146-.095-.146l-1.368.844c.229.473.563.879.994 1.137c.641.383 1.502.507 2.404.305c.588-.17 1.095-.519 1.358-1.059c.384-.697.302-1.553.299-2.509c.008-1.541 0-3.083 0-4.635l.003-.042z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">Javascript</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="iconify" data-inline="false" data-icon="cib:css3-shiled"><path d="M4 2l2.181 24.738L16 30l9.819-3.262L28 2zm19.569 5l-.3 2.956l-7.225 3.087h6.969l-.8 9.163L16.076 24l-6.175-1.825l-.4-4.619h3.056l.2 2.394l3.287.831l3.419-.962l.231-3.85l-10.406-.031l-.225-2.894l7.413-3.087H8.795l-.363-2.956z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">CSS</p>
            </div>
          </div>
        <% else %>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <!-- <span class="iconify" data-inline="false" data-icon="cib:swift" style="font-size: 24px; color: #003366;"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 24px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="iconify" data-inline="false" data-icon="cib:swift"><path d="M29.312 21.797c.073-.152.073-.297.152-.448c1.791-7.032-2.469-15.256-9.797-19.589c3.213 4.333 4.484 9.495 3.364 14.131a6.943 6.943 0 0 1-.375 1.197a7.378 7.378 0 0 1-.599-.375S14.806 12.229 7.03 4.374c-.224-.224 4.188 6.281 9.12 11.443c-2.317-1.348-8.896-6.057-13.011-9.869c.448.817 1.125 1.64 1.797 2.464c3.437 4.411 7.927 9.796 13.308 13.905c-3.813 2.323-9.12 2.469-14.505 0c-1.344-.593-2.469-1.344-3.74-2.239c2.245 3.515 5.76 6.728 9.948 8.448c5.011 2.171 10.093 2.02 13.755 0h.079c.145-.073.297-.152.448-.297c1.792-.901 5.307-1.869 7.249 1.869c.527 1.047 1.495-3.812-2.167-8.301z" fill="currentColor"></path></svg>
              <p style="font-size: 15px;">Swift</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </p>
