  <!-- Cup - title - description -->
  <% path_name  %>
  <% if path_name == "Full Stack Developer" %>
    <!-- <span class="iconify"  data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #F3C72A;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(243, 199, 42); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The Full Stack Developer Path</h5>
  <% elsif path_name == "Frontend Developer" %>
    <!-- <span class="iconify"  data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #997029;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(153, 112, 41); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The Frontend Developer Path</h5>
  <% elsif path_name == "Data Analyst" %>
    <!-- <span class="iconify"  data-icon="si-glyph:champion-cup" data-inline="false" style="font-size: 150px; color: #FE0760;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(254, 7, 96); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The Data Analyst Path</h5>
  <% else %>
    <!-- <span class="iconify" data-icon="si-glyph:champion-cup"  data-inline="false" style="font-size: 150px; color: #6C63FF;"></span> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.07em" height="1em" style="font-size: 150px; color: rgb(108, 99, 255); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17 16" class="iconify" data-icon="si-glyph:champion-cup" data-inline="false"><path d="M11.969 1H3.082v1.031h-3.09v4.836c0 1.869 2.086 3.407 4.133 3.567c.672.72 1.854 1.243 2.906 1.466v1.264c-1.006.309-2.803 1.035-2.906 1.826h6.904c-.104-.791-2.084-1.518-3.092-1.826V11.9c1.056-.223 2.291-.746 2.964-1.466c2.046-.16 4.04-1.698 4.04-3.567V2.031h-2.972V1zM.941 2.947H3.01v4.166c0 .822.212 1.604.585 2.308C2.047 8.928.941 7.658.941 6.172V2.947zm8.104 5.081l-1.544-.851l-1.546.851l.295-1.8L5 4.954l1.727-.263l.774-1.636l.772 1.636L10 4.954L8.75 6.228l.295 1.8zm2.295 1.526c.375-.736.59-1.55.59-2.411V2.974h2.074V6.16c0 1.553-1.111 2.879-2.664 3.394z" fill="currentColor" fill-rule="evenodd"></path></svg>
    <h5 class="mt-4">The iOs Developer Path</h5>
  <% end %>
  <br>
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    WHAT THIS PATH IS ABOUT
  </div>
  <p>
    <br>
    <%= description  %>
    <br> <br>
  </p>

  <!-- Main info -->
  <!-- Level -->
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    LEVEL
  </div>
  <p>
    <% requirement  %>
      <% if requirement == "beginner" %>
        <div class="d-flex align-items-center" style="margin-top: 7px; color: #003366;">
          <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle mr-3"></i>
          <p><%= "Beginner" %></p>
        </div>
      <% elsif requirement == "intermediate"%>
        <div class="d-flex align-items-center" style="margin-top: 7px; color: #003366;">
          <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="far fa-circle mr-3"></i>
          <p><%= "Intermediate" %></p>
        </div>
      <% else %>
        <div class="d-flex align-items-center" style="margin-top: 7px; color: #003366;">
          <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle mr-3"></i>
          <p><%= "Advanced" %></p>
        </div>
      <% end %>
  </p>
  <!-- Duration -->
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    DURATION
  </div>
  <div class="d-flex text-left align-items-center" style="display: flex; padding: 10px">
    <i class="far fa-calendar-check step-duration-symbol" style=" font-size: 20px; color: #003366;"></i>
    <p> <%= duration_hours %> h <%= duration_minutes%> min</p>
  </div>
  <!-- Skills -->
  <div style="border-bottom: solid 1px #E5E5E5; border-top: solid 1px #E5E5E5; font-size: 15px; color: #A1AAFC; font-weight: bold; padding-bottom: 0px;">
    SKILLS
  </div>
  <p>
  <% language  %>
    <div class="d-flex" style="margin-top: 3px; ">
      <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
        <% if language == "ruby javascript html css rails" %>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="teenyicons:ruby-outline" style="font-size: 24px; color: #003366;"> </span>
              <p style="font-size: 15px;">Ruby</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="ant-design:html5-filled" style="font-size: 24px; color: #003366;"></span>
              <p style="font-size: 15px;">HTML</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="bx:bxl-javascript" style="font-size: 24px; color: #003366;"></span>
              <p style="font-size: 15px;">Javascript</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; color: #003366;"></span>
              <p style="font-size: 15px;">CSS</p>
            </div>
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="cib:css3-shiled" style="font-size: 24px; color: #003366;"></span>
              <p style="font-size: 15px;">Rails</p>
            </div>
          </div>
        <% elsif language == "python"%>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="bx:bxl-python" style="font-size: 24px; color: #003366;"></span>
              <p style="font-size: 15px;">Python</p>
            </div>
          </div>
        <% else %>
          <div class="d-flex">
            <div class= "d-flex skill-icon" style="flex-direction: column; align-items: center;">
              <span class="iconify" data-inline="false" data-icon="cib:swift" style="font-size: 24px; color: #003366;"></span>
              <p style="font-size: 15px;">Swift</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </p>
