<ul style="list-style-type:none;">
    <% @paths.each do |path| %>
    <%= link_to path_path(path) do %>
    <li>
      <div class="p_card_sm" style="background-color: #003366">
          <div class="p_card_sm  d-flex flex-column text-left">
            <div><p>I want to become a</p></div>
            <div><h6><%= path.name %></h6></div>
            <div class="flex-grow-1 text-center pt-2"> <%= image_tag "girl.png", alt: "alttext", class: "p_card_img_sm" %> </div>
            <div class="d-flex justify-content-between">
              <div>
                <% if path.requirement == "beginner" %>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle mr-3"></i>
                    <p style="font-size: 14px; margin-bottom: 0"><%= "Beginner" %></p>
                  </div>
                <% elsif path.requirement == "intermediate"%>
                    <div class="d-flex align-items-center">
                      <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="far fa-circle mr-3"></i>
                      <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement %></p>
                    </div>
                  <% else %>
                      <div class="d-flex align-items-center" style="align-self: flex-end; width: 100%;">
                        <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle mr-3"></i>
                        <p style="font-size: 14px; margin-bottom: 0"><%= path.requirement %></p>
                      </div>
                <% end %>
              </div>
              <div>
                <p class="btn-card-sm text-center"> lessons </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    <% end %>
</ul>
