<div class="navbar-container">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-left">
    <%= link_to "#", class: "navbar-brand" do %>
    <%# INCLUDE THE ICO THING HERE %>
      <%# image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="font-size: 35px; color: rgb(0, 51, 102); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256" class="iconify logo" data-inline="false" data-icon="ph:path-bold"><path d="M200 164a36.057 36.057 0 0 0-33.936 24H72a28 28 0 0 1 0-56h96a44 44 0 0 0 0-88H72a12 12 0 0 0 0 24h96a20 20 0 0 1 0 40H72a52 52 0 0 0 0 104h94.064A35.998 35.998 0 1 0 200 164zm0 48a12 12 0 1 1 12-12a12.013 12.013 0 0 1-12 12z" fill="currentColor"></path></svg>
      <!-- <span class="iconify logo" data-inline="false" data-icon="ph:path-bold" style="font-size: 35px; color: #003366;"></span> -->
    <% end %>
    <%= link_to "ALL PATHS", paths_path, class: "navbar-h3"  %>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="title centered-nav">
    THE CODER’S LEARNING PATH
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <!-- <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li> -->
        <li class="nav-item dropdown">
          <%# INSERT PROPER USER ICON INSTEAD OF SSAUNIER PROFILE PIC%>
          <%# image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-nav dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar-nav dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "http://res.cloudinary.com/dqopwdgta/image/upload/c_fill,h_65,w_65/v1/Home/profile-avatar_gdki3u.png", class: "avatar-nav dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <!-- <span class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" } ><%= cl_image_tag("Home/profile-avatar_gdki3u.png", :className=>"avatar-nav dropdown-toggle", width: 65, height: 65, crop: :fill)%></span> -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%# INSERT LINK TO USER PROFILE HERE%>
            <%= link_to "Profile", "/profiles/#{current_user.name}", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "LOGIN", new_user_session_path, class: "navbar-h3" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
