<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

<div class="step-card-container">

  <div class="step-card-closed-part">

    <div class="step-card-logo-container">
      <span class="iconify logo <%= 'logo-completed' if locals[:completed] %>"
      data-inline="false" data-icon="ph:path-bold"></span>
    </div>

    <div class="step-card-text">
      <div class="step-card-title-container">
        <h5><%= locals[:step].title %></h5>
        <div class="step-card-external-source-icon-container">
          <% source = locals[:step].external_source_icon %>
          <%=  image_tag source[:path_to_source_icon], alt: source[:source_icon_alt], class: 'step-card-external-source-icon' %>
        </div>
      </div>

      <% if locals[:completed] %>
        <p class="completion"><i class="fas fa-check-circle step-card-completed-icon"></i> Completed</p>
      <% else %>
        <p class="completion"><i class="fas fa-circle step-card-todo-icon"></i> TO DO</p>
      <% end %>
    </div>

    <div class="step-card-expand-icon <%= 'step-card-expand-icon-completed' if locals[:completed] %>">
      <i class="fas fa-angle-down"></i>
    </div>

  </div>

  <div class="step-card-expanded-part">

    <div class="step-card-description">
      <div class="step-duration">
        <div>
          <i class="far fa-calendar-check step-duration-symbol"></i>
        </div>
        <div>
          <p class="step-duration-number"><%= locals[:duration] %></p>
        </div>
      </div>
      <p><%= locals[:step].description %></p>
    </div>

    <div class="btn-accordion-container">
      <div>
        <%= render 'shared/btn_accordion',
          locals: {
            completed: locals[:completed],
            url: locals[:step].url
          }
        %>
      </div>

      <div style="margin-top: 20px;">
        <%#= link_to "Done", step_progress_path(locals[:step_progress_id]), method: :patch, class: 'btn-accordion btn-accordion-text' %>
        <%#= link_to "Click Here", page_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#loginModal' %>
        <%= link_to "Done", step_progress_path(locals[:step_progress_id]), class: 'btn-accordion btn-accordion-text', data: {toggle: "modal", target: "#step-modal"} unless locals[:completed] %>
        <!-- Here I remove the mathod: :patch and just trigger the modal data toggle -->
      </div>
    </div>
  </div>
</div>
